<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>fandom</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/basecoat.cdn.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        
        <script src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/js/basecoat.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/js/dropdown-menu.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/basecoat-css@0.3.3/dist/js/tabs.min.js" defer></script>
    </head>
    <body id="base-body">
        <div id="app-header">
            <a class="app-logo-container" href="/">
                <img class="app-logo" src="{{ url_for('static', filename='crown-logo.png') }}" />
                <p class="app-title">fandom</p>
            </a>

            <div class="app-header-account-dropdown-wrapper">
                <div id="demo-dropdown-menu" class="dropdown-menu">
                    <button type="button" id="demo-dropdown-menu-trigger" aria-haspopup="menu" aria-controls="demo-dropdown-menu-menu" aria-expanded="false" class="app-header-account-dropdown-button">
                        {% if current_user.is_authenticated %}
                        Hi, {{ current_user.name }}!
                        {% else %}
                        Log in
                        {% endif %}
                        <img class="app-header-account-icon" src="{{ url_for('static', filename='account-icon-2.png') }}">
                    </button>
                    <div id="demo-dropdown-menu-popover" data-popover aria-hidden="true" class="min-w-56">
                        <div role="menu" id="demo-dropdown-menu-menu" aria-labelledby="demo-dropdown-menu-trigger">
                            {% if current_user.is_authenticated %}
                            <div role="group" aria-labelledby="account-options">
                                <div role="heading" id="account-options">My Account</div>
                                    <div class="app-header-dropdown-item" role="menuitem">
                                        <a href="/home">Home</a>
                                    </div>
                                    <div class="app-header-dropdown-item" role="menuitem">
                                        <a href="/team-selection">Team Selection</a>
                                    </div>
                                </div>
                            </div>
                            <hr role="separator" />
                            
                            <div role="menuitem">
                                <a class="app-header-dropdown-item" href="/logout">
                                    <span>Logout</span>
                                    <img class="app-logout-icon" src="{{ url_for('static', filename='logout-icon.png') }}">
                                </a>
                            </div>
                            {% else %}
                            <div role="menuitem">
                                <a class="app-header-dropdown-item" href="/login">
                                    <span>Log In</span>
                                </a>
                            </div>
                            <hr role="separator" />
                            <div role="menuitem">
                                <a class="app-header-dropdown-item" href="/register">
                                    <span>Create Account</span>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if current_user.teams %}
        <div id="app-subheader">
            <div class="app-header-selected-team-logos-wrapper">
                {% for team in current_user.teams %}
                <a href="/{{ team['league']['name'] }}/team/{{ team['espn_team_id'] }}/season/{{ team['league']['current_season'] }}">
                    <img class="app-selected-team-icon" src="{{ team['logo_url'] }}"/>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div id="flash-wrapper">
                <ul>
                {% for category, message in messages %}
                    <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <div id="app-content">
            {% block content %}
                <p>No messages.</p>
            {% endblock content %}
        </div>

        <div id="app-footer">
            <div>(C) Jack Miller 2025</div>
        </div>
    </body>
</html>


<style>
    
</style>

<script>
    function onclick() {
        window.fetch('/suk')
    }
</script>