{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <div class="page-header">
            <header class="game-page-header-league-container">
                <img src="{{ game_info['league']['logo-url'] }}" class="game-page-header-league-logo"/>
                <span class="game-page-header-league-name">
                    {{ game_info['league']['name'] }}
                </span>
            </header>

            <header class="game-page-header-game-info-container">
                <div class="game-page-header-game-info-detail-wrapper">
                    <img class="detail-icon" src="{{ url_for('static', filename='date-icon.png') }}">
                    <span class="game-page-header-game-info">{{ game_info['date'] }}, {{ game_info['start-time'] }}</span>
                </div>
                <div class="game-page-header-game-info-detail-wrapper">
                    <img class="detail-icon" src="{{ url_for('static', filename='location-icon.png') }}">
                    <span class="game-page-header-game-info">{{ game_info['venue'] }}, {{ game_info['city'] }}, {{ game_info['state'] }}</span>
                </div>
                {% if game_info['completed'] %}
                <div class="game-page-header-game-info-detail-wrapper">
                    <img class="detail-icon" src="{{ url_for('static', filename='attendance-icon.png') }}">
                    <span class="game-page-header-game-info">{{ game_info['attendance'] }}</span>
                </div>
                {% endif %}
            </header>

            <header class="game-page-header-result-container">
                <section class="game-page-header-result-status-section">
                    <a class="game-page-header-team-name-container-left" href="/{{ game_info['league']['name'] }}/team/{{ game_info['away-team']['id'] }}/season/{{ game_info['season']['year'] }}">
                        <span class="team-name-header">
                            {{ game_info['away-team']['name'] }}
                        </span>
                        <div>
                            <img class="team-logo-header" src="{{ game_info['away-team']['logo_url'] }}"/>
                        </div>
                    </a>

                    <div class="game-page-header-status-wrapper">
                        {% if game_info['completed'] %}
                        <span class="game-page-header-score">
                            {{ game_info['away-team']['score']['Total'] }} - {{ game_info['home-team']['score']['Total'] }}
                        </span>
                        <span class="secondary-font-color">
                            Final
                        </span>
                        {% else %}
                        <span class="game-page-header-score">
                            {{ game_info['start-time'] }}
                        </span>
                        <span class="secondary-font-color">
                            {{ game_info['date'] }}
                        </span>
                        {% endif %}
                    </div>

                    <a class="game-page-header-team-name-container-right" href="/{{ game_info['league']['name'] }}/team/{{ game_info['home-team']['id'] }}/season/{{ game_info['season']['year'] }}">
                        <div>
                            <img class="team-logo-header" src="{{ game_info['home-team']['logo_url'] }}"/>
                        </div>
                        <span class="team-name-header">
                            {{ game_info['home-team']['name'] }}
                        </span>
                    </a>
                </section>

                {% if game_info['completed'] %}
                <section class="game-page-header-boxscore-section">
                    <table class="game-page-boxscore-table table">
                        <thead>
                            <tr>
                                <th></th>
                                {% for period in game_info['home-team']['score'].keys() %}
                                <th>{{ period }}</th>
                                {% endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ game_info['away-team']['name']}}</th>
                                {% for score in game_info['away-team']['score'].values() %}
                                <th>{{ score }}</th>
                                {% endfor%}
                            </tr>
                            <tr>
                                <th>{{ game_info['home-team']['name']}}</th>
                                {% for score in game_info['home-team']['score'].values() %}
                                <th>{{ score }}</th>
                                {% endfor%}
                            </tr>
                        </tbody>
                    </table>
                </section>
                {% endif %}
            </header>
            
        </div>
        <div class="page-content">
            <div class="app-card">
                Coming soon...
            </div>
        </div>
    </div>
    
{% endblock content %}