{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <div class="page-header">
            <header class="game-page-header-league-container">
                <div class="game-page-header-league-logo-wrapper">
                    <img src="{{ game_info['league']['logo_url'] }}" class="game-page-header-league-logo"/>
                </div>
                <span class="game-page-header-league-name">
                    {{ game_info['league']['name'] }}
                </span>
            </header>
            <header class="game-page-header-game-info-container">
                <span class="game-page-header-game-info">{{ game_info['date'] }}</span><span>|</span>
                <span class="game-page-header-game-info">{{ game_info['start-time'] }}</span><span>|</span>
                <span class="game-page-header-game-info">{{ game_info['venue'] }}</span><span>|</span>
                <span class="game-page-header-game-info">{{ game_info['city'] }}, {{ game_info['state'] }}</span>
                {% if game_info['completed'] %}
                <span>|</span>
                <span class="game-page-header-game-info">{{ game_info['attendance'] }}</span>
                {% endif %}
            </header>
            <header class="game-page-header-result-container">
                <section class="game-page-header-result-status-section">
                    <div class="game-page-header-team-name-container-left">
                        <a href="/{{ game_info['league']['name'] }}/team/{{ game_info['away-team']['id'] }}/season/{{ game_info['season']['year'] }}">
                            <div class="team-name-wrapper">
                                <span class="team-name-header">
                                    {{ game_info['away-team']['name'] }}
                                </span>
                                <div class="team-logo-wrapper-left">
                                    <img src="{{ game_info['away-team']['logo_url'] }}" class="team-logo-header"/>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="game-page-header-status-wrapper">
                        {% if game_info['completed'] %}
                        <span class="game-page-header-score">
                            {{ game_info['away-team']['score']['Total'] }} - {{ game_info['home-team']['score']['Total'] }}
                        </span>
                        <span class="secondary-font-color">
                            Final
                        </span>
                        {% else %}
                        <span class="game-page-header-score">
                            {{ game_info['start-time'] }}
                        </span>
                        <span class="secondary-font-color">
                            {{ game_info['date'] }}
                        </span>
                        {% endif %}
                    </div>
                    <div class="game-page-header-team-name-container-right">
                        <a href="/{{ game_info['league']['name'] }}/team/{{ game_info['home-team']['id'] }}/season/{{ game_info['season']['year'] }}">
                            <div class="team-name-wrapper">
                                <div class="team-logo-wrapper-right">
                                    <img src="{{ game_info['home-team']['logo_url'] }}" class="team-logo-header"/>
                                </div>
                                <span class="team-name-header">
                                    {{ game_info['home-team']['name'] }}
                                </span>
                            </div>
                        </a>
                    </div>
                </section>
                {% if game_info['completed'] %}
                <section class="game-page-header-boxscore-section">
                    <table class="game-page-boxscore-table table">
                        <thead>
                            <tr>
                                <th></th>
                                {% for period in game_info['home-team']['score'].keys() %}
                                <th>{{ period }}</th>
                                {% endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ game_info['away-team']['name']}}</th>
                                {% for score in game_info['away-team']['score'].values() %}
                                <th>{{ score }}</th>
                                {% endfor%}
                            </tr>
                            <tr>
                                <th>{{ game_info['home-team']['name']}}</th>
                                {% for score in game_info['home-team']['score'].values() %}
                                <th>{{ score }}</th>
                                {% endfor%}
                            </tr>
                        </tbody>
                    </table>
                </section>
                {% endif %}
            </header>
            
        </div>
        <div class="page-content">
            <div class="app-card">
                Coming soon...
            </div>
        </div>
    </div>
    
{% endblock content %}