{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
        <!-- <div class="page-header">
            <header class="team-page-header">
                {% if teams_list %}
                {% for team in teams_list %}
                <div class="team-page-header-logo-wrapper">
                    <a href="/{{ team['league']['name'] }}/team/{{ team['espn_id'] }}/season/{{ season }}">
                        <img class="team-header-logo" src="{{ team['logo_url'] }}"/>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    No teams yet
                </div>
                {% endif %}
            </header>
        </div> -->

        <div class="page-content">
            <div class="app-card team-page-games-container">
                <div class="team-page-games-header">
                    <a class="nav-icon-wrapper flex-align-left" href="/home?season={{ season - 1 }}">
                        <img class="nav-icon" src="{{ url_for('static', filename='back-icon.png') }}">
                    </a>
                    <div class="team-page-games-header-season-wrapper">
                        <span>Schedule</span>
                        <span class="team-page-games-header-season">{{ season }}</span>
                    </div>
                    <a class="nav-icon-wrapper flex-align-right" href="/home?season={{ season + 1 }}">
                        <img class="nav-icon" src="{{ url_for('static', filename='next-icon.png') }}">
                    </a>
                </div>
                {% for game in games_list %}
                <a class="game-card" href="/{{ game['league']['name'] }}/boxscore/{{ game['event_id'] }}">
                    <div class="game-card-header">
                        <span class="grid-align-left">{{ game['date'] }}</span>
                        <span class="grid-align-center">{{game['headline']}}</span>
                        <div class="league-container grid-align-right">
                            <span class="league-name">{{game['league']['name'] + ' ' + game['season']['type'] }}</span>
                            <img class="league-logo" src="{{ game['league']['logo-url'] }}"/>
                        </div>
                    </div>
                    <div class="game-card-result">
                        <div id="away-team" class="game-card-away-team-container">
                            <p class="game-card-team-name">{{ game['away-team'] }}</p>
                            <img class="team-logo-detail" src="{{ game['away-team-logo'] }}"/>
                        </div>
                        {% if game['completed'] == False %}
                        <div class="game-card-result-wrapper">
                            <span id="result" class="game-card-result-element">
                                {{ game['time'] }}
                            </span>
                        </div>
                        {% else %}
                        <div class="game-card-result-wrapper">
                            <span id="result" class="game-card-result-element {{ 'result-card-winner' if game['selected-team-result'] == 'win' else 'result-card-loser' if game['selected-team-result'] == 'loss' else 'result-card-tie' }}">
                                {{ game['game-score-string'] if game['completed'] else game['time'] }}
                            </span>
                        </div>
                        {% endif %}
                        <div id="home-team" class="game-card-home-team-container">
                            <img class="team-logo-detail" src="{{ game['home-team-logo'] }}"/>
                            <p class="game-card-team-name">{{ game['home-team'] }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="team-page-info-container">
                <div class="app-card">
                    Nothing to see just yet
                </div>
            </div>
        </div>

    </div>

{% endblock content %}