{% extends 'base.html' %}

{% block content %}
<div class="page-container">

    <div class="login-form-wrapper card">
        <form class="login-form" action="/login" method="POST">
            {{ form.username(class="input login-form-item", placeholder="Username") }}
            {% if form.username.errors %}
            <ul class="form-error">
                {% for error in form.username.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            {{ form.password(class="input login-form-item", placeholder="Password") }}
            {% if form.password.errors %}
            <ul class="form-error">
                {% for error in form.password.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- <input class="input login-form-item" type="text" name="username" placeholder="Username">
            <input class="input login-form-item" type="password" name="password" placeholder="Password"> -->
            <input class="input login-form-item login-submit-button" type="submit" value="Log In">
        </form>
        
        <hr role="separator" />
    
        <a href="/register"><button class="create-account-button">Create Account</button></a>
    </div>

</div>
{% endblock content %}