{% extends 'base.html' %}

{% block content %}
<div class="page-container">

    <div class="login-form-wrapper card">
        <form class="login-form" action="/login" method="POST">
            <input class="input login-form-item" type="text" name="username" placeholder="Username">
            <input class="input login-form-item" type="text" name="password" placeholder="Password">
            <input class="input login-form-item login-submit-button" type="submit" value="Log In">
        </form>
        
        <hr role="separator" />
    
        <button class="create-account-button">Create Account</button>
    </div>

</div>
{% endblock content %}