{% extends 'base.html' %}

{% block content %}

    <div class="page-container">
        <form action="/team-selection" method="POST">
            <div class="tabs w-full team-selection-card" id="demo-tabs-with-panels">
                <div class="page-header">
                    <header class="team-selection-header">
                        Team Selection
                    </header>
                    <nav role="tablist" aria-orientation="horizontal" class=" team-selection-tabs-wrapper">
                        {% for league in leagues %}
                        {% if loop.index == 1 %}
                        <button class="team-selection-tab" type="button" role="tab" id="team-selection-tab-{{league}}" aria-controls="team-selection-panel-{{league}}" aria-selected="true" tabindex="0">
                        {% else %}
                        <button class="team-selection-tab" type="button" role="tab" id="team-selection-tab-{{league}}" aria-controls="team-selection-panel-{{league}}" aria-selected="false" tabindex="0">
                        {% endif %}
                            {{ league }}
                        </button>
                        {% endfor %}
                    </nav>
                </div>
                    
                <div class="page-content">
                    {% for league, teams_list in teams.items() %}
                    {% if loop.index == 1 %}
                    <div role="tabpanel" id="team-selection-panel-{{league}}" aria-labelledby="team-selection-tab-{{league}}" tabindex="-1" aria-selected="true">
                    {% else %}
                    <div role="tabpanel" id="team-selection-panel-{{league}}" aria-labelledby="team-selection-tab-{{league}}" tabindex="-1" aria-selected="false" hidden>
                    {% endif %}
                        <div class="card">
                            <header>
                                <h2>{{ league }}</h2>
                            </header>
                            <section class="team-selection-teams-container">
                                {% for team_dict in teams_list %}
                                <div class="team-selection-tile">
                                    <label class="label gap-3">
                                        <img class="team-selection-tile-logo" src="{{ team_dict['logoURL'] }}"/>
                                        {% if team_dict['appID'] in selected_team_ids %}
                                        <input type="checkbox" name="selected-teams" value="{{ team_dict['appID'] }}" class="input team-selection-tile-checkbox" checked>
                                        {% else %}
                                        <input type="checkbox" name="selected-teams" value="{{ team_dict['appID'] }}" class="input team-selection-tile-checkbox">
                                        {% endif %}
                                    </label>
                                </div>
                                {% endfor %}
                            </section>
                        </div>
                    </div>
                    {% endfor %}
                </div> 

                <div class="page-footer">
                    <input class="team-selection-submit-button" type="submit" value="Go!">
                </div>           
            </div>            
        </form>
    </div>


{% endblock content %}