{% extends 'base.html' %}

{% block content %}
<!-- <div id="content-section"> -->
    <div class="page-container">
        <div class="page-header">
            <header class="team-page-header">
                <div class="team-page-header-logo-wrapper">
                    <img class="team-header-logo" src="{{ team['logo-url'] }}"/>
                </div>
                <div class="team-page-name-wrapper">
                    <span class="team-header-name">{{ team['full-name'] }}</span>
                    <span class="team-header-league">{{ team['league']['name'] }}</span>
                </div>
            </header>
        </div>
        <div class="team-page-content">
            <div class="team-page-games-container">
                <div class="team-page-games-header">
                    <a class="nav-icon-wrapper flex-align-left" href="/{{ team['league']['name'] }}/team/{{ team['id'] }}/season/{{ season - 1}}">
                        <img class="nav-icon" src="{{ url_for('static', filename='back-icon.png') }}">
                    </a>
                    <div class="team-page-games-header-season-wrapper">
                        <span class="team-page-games-header-schedule">Schedule</span>
                        <span>{{ season }}</span>
                    </div>
                    <a class="nav-icon-wrapper flex-align-right" href="/{{ team['league']['name'] }}/team/{{ team['id'] }}/season/{{ season + 1}}">
                        <img class="nav-icon" src="{{ url_for('static', filename='next-icon.png') }}">
                    </a>
                </div>
                {% for game in games_list %}
                <a class="game-card" href="/{{ game['league']['name'] }}/boxscore/{{ game['event_id'] }}">
                    <div class="game-card-header">
                        <span class="grid-align-left">{{ game['date'] }}</span>
                        <span class="grid-align-center">{{game['headline']}}</span>
                        <div class="league-container grid-align-right">
                            <span class="league-name">{{game['league']['name'] + ' ' + game['season']['type'] }}</span>
                            <img class="league-logo" src="{{ game['league']['logo-url'] }}"/>
                        </div>
                    </div>
                    <div class="game-card-result">
                        <!-- <div id="away-team" class="game-card-away-team-container {{ 'winner' if game['winner'] == 'away' else '' }}"> -->
                        <div id="away-team" class="game-card-away-team-container">
                            <p class="game-card-team-name">{{ game['away-team'] }}</p>
                            <img class="team-logo-detail" src="{{ game['away-team-logo'] }}"/>
                        </div>
                        {% if game['completed'] == False %}
                        <div class="game-card-result-wrapper">
                            <span id="result" class="game-card-result-element">
                                {{ game['time'] }}
                            </span>
                        </div>
                        {% else %}
                        <div class="game-card-result-wrapper">
                            <span id="result" class="game-card-result-element {{ 'result-card-winner' if game['selected-team-result'] == 'win' else 'result-card-loser' if game['selected-team-result'] == 'loss' else 'result-card-tie' }}">
                                {{ game['game-score-string'] if game['completed'] else game['time'] }}
                            </span>
                        </div>
                        {% endif %}
                        <!-- <div id="home-team" class="game-card-home-team-container {{ 'winner' if game['winner'] == 'home' else '' }}"> -->
                        <div id="home-team" class="game-card-home-team-container">
                            <img class="team-logo-detail" src="{{ game['home-team-logo'] }}"/>
                            <p class="game-card-team-name">{{ game['home-team'] }}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="team-page-info-container">
                <div class="team-page-record-card">
                    <!-- <p class="team-page-record-header">Record</p> -->
                    <table class="table team-page-record-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Record</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for type,record in team['record'].items() %}
                            <tr>
                                <th>{{ type }}</th>
                                <th>{{ record }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
{% endblock content %}