{% extends 'base.html' %}

{% block content %}
    <form class="search-form" action="/" method="POST">
        <!-- <label class="search-form-element" for="league">Choose a league</label><br>
        <select name="league" id="league" required>
            {% for league in leagues %}
                <option value="{{ league }}">{{ league }}</option>
            {% endfor %}
        </select> -->
        <label class="search-form-element" for="team-id">Choose a team</label><br>
        <select name="team-id" id="team" required>
            {% for league,teams_list in teams.items() %}
            <optgroup label="{{ league }}">
                {% for team_dict in teams_list %}
                    <option value="{{ team_dict['app-id'] }}">{{ team_dict['name'] }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
        <input class="search-form-element" style="background-color: #EE7674;" type="submit" value="Go!">
    </form>
{% endblock content %}